.move-button {
  margin: 0px;
}

.shape-box button,
.camera-box button {
  margin: 0px;
}

.shape-box button image {
  -gtk-icon-size: 48px;
}

.camera-box button image {
  -gtk-icon-size: 96px;
}

window.transparent.background {
  background: unset;
}

.overlay {
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.overlay button {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  background-image: none;
  transition: opacity 0.3s;
  border: 1px solid white;
}
.overlay button image {
  color: white;
}
.overlay button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay .center-box button {
  border-radius: 0px;
}

.overlay .center-box button:first-child {
  border-radius: 16px 0px 0px 16px;
  margin-right: -1px;
}

.overlay .center-box button:last-child {
  border-radius: 0px 16px 16px 0px;
  margin-left: -1px;
}
