.move-button {
  margin: 0px;
}

.shape-box button,
.camera-box button {
  margin: 0px;
}

.shape-box button image {
  -gtk-icon-size: 48px;
}

.camera-box button image {
  -gtk-icon-size: 96px;
}

window.transparent.background {
  background: unset;
}

.overlay button {
  filter: invert(1);
  border-radius: 16px;
  opacity: 0.6;
  transition: opacity 3s;
}

.overlay button:hover {
  opacity: 1;
}

.overlay .center-box button {
  border-radius: 0px;
}

.overlay .center-box button:first-child {
  border-radius: 16px 0px 0px 16px;
}

.overlay .center-box button:last-child {
  border-radius: 0px 16px 16px 0px;
}
